<h1 class='center'>About Us</h1>
 <div class="container">
 	<div class="slider">
     <ul class="slides">
       <li>
         <%= image_tag "Bangalore.jpg" %> <!-- random image -->
       </li>
       <li>
         <%= image_tag "Camping.jpg" %> <!-- random image -->
       </li>
       <li>
         <%= image_tag "mumbai.jpg" %> <!-- random image -->
       </li>
       <!-- <li> -->
         <%#= image_tag "Moi.png" %> <!-- random image -->
       <!-- </li> -->
     </ul>
   </div>
  </div>

<!-- Content Begin -->
<div class='container'><!-- Container Begin -->
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">

					<span class="card-title">How and Why.</span>
					<p class="flow-text">
						You book your tickets to the adventure you want. Wherever you want it. Maybe you want an adventure in Mysore. Or Hyderabad. Perhaps in Jaipur or Delhi. And, of course, there’s always Goa. Choose a place you think you’ll want to visit. (We have more than ten places you can choose from.) We do the research for you - instantly showing the activities available in the place you want to go. Once you choose your activity, we’ll give you a detailed description and itinerary. (So you know what you’re in for.) And we’ll book the ticket. Then and there. So you can start your adventure sooner. And it saves you energy. 
					</p>
					</br>
					<p class="flow-text">

						Because this is a moment worth living for. And you won’t find it on a computer screen. Or in a traffic jam. Or at a 3 hour meeting. So where do you find these moments? Moments of adventure and discovery. You’ll find them when you scuba-dive under the sea. Or as you trek through majestic mountains. Or in the sky, as you paraglide against a gold sunset. Or in the colourful market of a historical city. You deserve a life that’s extraordinary. And we want to help you get there. As easily as possible. The world is waiting. Live the adventure you’ve always dreamt.
					</p>
				</div>
			</div>
		</div>

		<!-- <div class="col s12 m6 l6">
			<div class="row">
				<div class="vertical">
					<%#= image_tag "Moi.png" %>
				</div>
			</div>
			
		</div> -->

		</div>
	</div>
</div>
