<h1 class='center'>Privacy Policies</h1>
<div class="container">
	<p>
		By using our website www.trekhub.in (hereinafter referred as "Website") you consent to abide by our Privacy Policy set out herein. Your privacy is important to us. We value your trust in us. We will work hard to earn your confidence so that you can enthusiastically use our Services and recommend us to friends and relatives. To better protect your privacy, we promise that we will take steps to use your personal information only in ways that are compatible with this Privacy Policy. This Privacy Policy explains how we use and safeguard your information.
		<br><br>
		When you use our Website, we may collect and store your personal information from you. Our goal in doing so is to provide you safe, efficient, smooth, valuable and customized Services according to your needs, we only collect personal information about you that we consider necessary for achieving this purpose.
	</p>
	<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">1. Your Information</div>
      <div class="collapsible-body">
      	
					<blockquote>1.1. To get our Services you will need to register using our online registration form, where you may be required to provide us with your personal information including but not limited to your name, date of birth, contact details, e-mail ID, user ID, password, residence, bank details and other personal information as indicated on the form throughout the Website. Where possible, we indicate which fields are mandatory and which fields are optional. We may also collect your information through the use of cookies or from our affiliates or from other parties or from other means.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">2. Use of Your Information</div>
      <div class="collapsible-body">
      	
					<blockquote>2.1. Website does not have setup to collect automatic personal information of the visitors to the Website. In some areas of the Website, we may ask you to provide information that will enables us to verify whether you are entitled to access and use certain Services or to follow up with you after your visit to Website or to otherwise support your relationship with us. It is completely optional for you to join. However, failure to join us may mean that you cannot access and use information and Services.</blockquote>
				
					<blockquote>2.2. The personal information you provided to us while using Website, such as your name, date of birth, contact details, e-mail ID, user ID, password, residence, bank details and other personal information shall be kept confidential and shall be used to provide you Services from Website, to notify you off our offers, updated information, new services and offers from third parties that we think may be of interest to you. Your information may be provided to our employees, agents, contractors, affiliates and service providers in need to know basis to support the operation of the Website and Services. Employees, agents, contractors, affiliates and service providers so provided with your personal information will be required to keep your information confidential and not use it for any purpose other than to carry out the Services they are performing for Website.</blockquote>
				
					<blockquote>2.3. By use of our Website you agree to provide us, right to use your personal information for promotion and marketing of our business and Services. To fulfill such purposes we may share your certain information with our partners, customers, advertisers or potential users.</blockquote>
				
					<blockquote>2.4. In case of corporate divestiture or dissolution where we sell all or a portion of our business or assets including but not limited to our associated customer lists containing your personal information you permits us to disclose your personal information to third parties for purposes other than to support your customer relationship with us.</blockquote>
				
					<blockquote>2.5. We may provide you option to establish a credit account with us or our providers or if you purchase a product or Service from us or third party websites available through our Website, we may collect additional information including billing information, credit card number and expiration dates and tracking information from cheques or money order. We will share such payment information with banks or vendors relevant to the transaction in order to enable transactions to be completed.</blockquote>
				
					<blockquote>2.6. We will send you information about our various products and Services or other products and services we feel may be of interest to you. We and our affiliates including but not limited to our employees, agents, contractors and service providers may send you these by direct mailings.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">3. Disclosure of Information</div>
      <div class="collapsible-body">
      	
					<blockquote>3.1. You allow us to disclose your personal information, if disclosure is required by law or it is related to judicial or governmental investigation or proceedings.</blockquote>
				
					<blockquote>3.2. If we have reason to believe that a User of Website is in breach of the Terms of Use, TOS or any other agreement with us, then we reserve the right to make public or otherwise disclose such User's information in order to pursue our claim or prevent further injury to us.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">4. Data Security</div>
      <div class="collapsible-body">
      	
					<blockquote>4.1. To prevent unauthorized access, maintain data accuracy and ensure the correct use of information, we have put in place appropriate physical, electronic and managerial procedures to safeguard and secure the information we collect online. However, we shall not be liable for the use of your personal information. No data transmitted over the Internet or any wireless network can be guaranteed to be perfectly secured. As a result, while we try to protect your information no website or company including ourselves can absolutely ensure or guarantee the security of any information you transmit to us and you do so at your own risk.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">5. Use of Third Party Websites</div>
       <div class="collapsible-body">
      	
					<blockquote>5.1. We have established relationship with other parties to offer you benefit of other products and services which we ourselves do not offer. We offer you access to these other parties through their websites links from our Website. You may be required to submit information for purposes of registering or applying for products or services provided by such third parties. The privacy policy of such third parties may differ from ours, and we may not have any control over the information that you submit to such third party website. We disclaim all the liabilities of confidentiality for the information you provided to the third party through our Website. We therefore encourage you to read their policy before responding to any offers, products or services provided by such third parties.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">6. Cookies</div>
      <div class="collapsible-body">
      	
					<blockquote>6.1. Cookies are small amounts of data that is sent to your browser and stored on your computer's hard drive. A cookie can be sent to your computer's hard drive only if you access our Website. You can choose to accept or refuse the cookies by changing your browser setting. We use cookies to store specific information about you and track your visits to our Website. It is common for websites to use cookies to enhance identification of their users. If you do not de-activate or erase cookies, each time you use the same computer to access our Website our web server will be notified of your visits to our Website and in turn we may have knowledge of your visit and the pattern of your usage of our Website.</blockquote>
				
					<blockquote>6.2. Use of cookies makes web surfing easier by performing certain functions such as saving your passwords, your personal preferences regarding your use of the Website and to make sure you do not see the same repeatedly.</blockquote>
				
					<blockquote>6.3. If you set refuse cookies in your browser, it is possible that some areas of our Website will not function properly. During the use of our Website you may be required to accept cookies. Advertisers and partners may also use cookies. We do not control use of these cookies and disclaims responsibilities for information collect through them.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">7. Minor</div>
      <div class="collapsible-body">
      	
					<blockquote>7.1. We do not intend to sell any of our products or Services to minors. Use of our Website is available only to the persons who can enter into legally binding contracts under the laws of India. If you are a minor i.e. under the age of eighteen (18) years, you are not allowed to visit and/or register as member of our Website. As a minor, if you wish to use our Services you may use it through your guardian or parents. If a minor has provided information without parental or guardian consent, the parent or guardian should contact us to remove the information.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">8. Changes to Privacy Policy</div>
      <div class="collapsible-body">
      	
					<blockquote>8.1. We reserve all rights to change, amend or modify this Privacy Policy at any time and in any manner without pre-information to the users. The changed, amended or modified Privacy Policy will be displayed in the Website. You agree that all collected information (whether or not collected prior to or after the new Policy become effective) will be governed by the newest Privacy Policy then in effect.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">9. Accessing, Correcting and Changing Your Information</div>
      <div class="collapsible-body">
      	
					<blockquote>9.1. You can access, view and edit your information through the edit information option in your Account with Website.</blockquote>
      	
      </div>
    </li>
    <li>
      <div class="collapsible-header">10. Cancellation Policy</div>
      <div class="collapsible-body">
        
          <blockquote>10.1. Cancellation of tickets before 7 days from the scheduled trip date – free cancellation.</blockquote>
          <blockquote>10.2. Cancellation from the 3rd day till the seventh day from the scheduled trip date – 50% of the fee.</blockquote>
          <blockquote>10.3. Cancellation from 24 hours till the 3rd day from the scheduled trip date – 100% cost of the fee.</blockquote>
          <blockquote>10.4. Corporate, Group and Tailor Made trips may vary in cancellation policy from that detailed in this clause.</blockquote>
        
      </div>
    </li>
  </ul>
</div>