<h1 class='center'>Terms & Conditions</h1>
<div class="container">
	<p>Participation in the tour implies the participant’s total, express and unconditional agreement to these terms and conditions. Hence it is essential that you read them carefully and understand them. The Booking Term and Conditions constitute a legally binding contract between TrekHub and the customer.
	</p></br>
	<ul class="collection">
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for cancellation of trek by the organiser due to poor or extreme weather conditions, denial of permission from authorities, failure or collapse of communications, strikes, bandh, and reasons beyond the control of and not attributable to the organizer.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for any deficiency of service on the part of the organiser.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for cancellation of ticket or non-refund or short refund of ticket amount directly paid to the organiser.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for any injuries including death, immediate or consequential, suffered by the consumer.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for any loss or damages caused to the person or property of the consumer due to providing of insufficient or poor/defective quality of equipment by the organiser.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for consumer’s suffering any loss/damages because of his/her own negligence or misadventure.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not responsible for the consumer for his/her not reporting at the appropriate place in time.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for any change in lodging place/hotel rooms.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for loss of any baggage or goods or belongings of the consumers, including tangible and intangible assests.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for cancellation of booking for providing incomplete or incorrect information by the consumer.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub Shall not be responsible for post management or change in price of the trekking by the organiser.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not accept any responsibility for loss on employment, delays or compensation resulting from situations beyond the trip control.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for revision of price posted in our marketing material, under any circumstances, or on the pressure of various external elements those are further than our control, for instance change in exchange rate, government action etc.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for organiser using images of consumers taken during the trip without consent of consumer and with or without compensation to consumer, for publicity and promotion purposes only through whatever medium it chooses.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for the organiser’s collecting information from customer for booking Treks, permits etc. and using such private or personal information for any other purpose.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for any changes in the itinerary or program due to unavoidable circumstances such as government restriction, Landslide, road blockage, flood, heavy snow falling, political unrest, cancellation of flight, delay, sickness or accident, etc. Any extra cost incurring there on shall be borne by the consumers on the spots.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for misuse of any information w.r.t. credit/debit card, bank account information, excess of levy of charges etc. by our affiliates including but not limited to our employees, agents, contractors and service providers</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>Travel insurance would be compulsory wherever required for all consumers undertaking any tour which should provide adequate protection for the full duration of the tour to cover personal injury, death, medical expenses, repatriation expenses, helicopter rescue, air ambulance and adequate cover for baggage.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for the organiser not considering refunds for any unused service after commencement of the tour, trek, raft or any expeditions regardless of the reason.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible if the organiser reserves the right to refuse to accept a customer or continue dealing with him or her if his or her behaviour is disruptive, affects other travellers, threatening or abusive towards other travellers or operator’s staff. TrekHub shall not accept any responsibility or liability for any service booked and cancelled, withdrawn or denied due to such behaviour.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for the operator assuming no liability for any loss, injury or damage sustained by the customer including those occurring outside the programs, losses or additional expenses due to delay, sickness or unfitness to take part any activities, accident, weather, political unrest, strike or other cause beyond its control.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible for the consumers not in good health and in a good physical condition so as to take the expedition. Further TrekHub shall not be responsible if the participants with medical problems does not make them known to TrekHub or the organiser well before departure and If they suffer from severe muscular, chest, heart or bronchial disorders, or if they are a severe asthmatic, or have high blood pressure and who have been strongly advised against participating. As the trips generally take place in remote areas where there is little or no access to normal medical services or hospital facilities for serious problems. Where necessary, evacuation can be prolonged but it is difficult and expensive. Medical and evacuation expenses will be the responsibility of the consumer.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible if the organiser has to cancel a trip due to insufficient bookings and is not further responsible for any additional expenses incurred by the consumers in preparation for the trip.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>TrekHub shall not be responsible if the organisers for any reason change the date of departure or conclusion of the tour, or it is possible that a route change, postponement or delay (either in relation to departure or to the duration of the expedition) may become necessary due to inclement weather, snow and ice conditions, political restrictions or any other cause. In the event of a change, postponement or delay, consumers have no right for refund of their tour price (in whole or in part) or other compensation for any injury, loss or damage.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>In case of Package tours prices are based on ground costs, airfares and exchange rates. TrekHub shall not be responsible for any increase in the price by the organiser with or without notice at any time before and during the trip.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>Medical Information: If the client has a disability, pre-existing medical condition or has recently undergone surgery, it is recommended that they consult a doctor to ensure a suitable level of fitness. However, we are unable to fly anyone who is confined to a wheelchair or is pregnant.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>People under the influence of alcohol or drugs, the organiser reserves the right to refuse to accept a customer without any refund.</blockquote>
      </li>
      <li class="collection-item">
      	<blockquote>Conclusively, TrekHub shall not be accountable or responsible to the consumers in any manner and to any extent whatsoever, regarding any matter whatsoever, in connection with the consumer’s business relationship with TrekHub except to the extent of refunding the charges paid minus booking charges, in case the proposed trip gets cancelled for any and whatever reasons cited above.</blockquote>
      </li>
     </ul>
</div>