<div class="right">
	<% if @categories.any? %>
	  <h5 class="center">Categories</h5>
	  <h6><%= @category_records.count %> <%=  "category".pluralize(@category_records.count) %> found</h6>

	  <% @categories.each do |category| %>
	    <p class="center"><%=link_to category.name, category_path(category) %></p>
	  <% end %>
	<% end %>
</div>