<div class="center">
	<% if @destinations.any? %>
	  <h5 class="center">Destinations</h5>
	  <h6><%= @destinations.count %> <%=  "destination".pluralize(@destinations.count) %> found</h6>
    <br>
	  
	  <% @destinations.each do |destination| %>
	    <div class="row valign-wrapper">
        <div class="col s6">
          <%= image_tag destination.cover.thumb.url, class: 'circle responsive-img right'  %>
        </div>
        <div class="col s6">
          <%=link_to truncate(destination.name, length: 9), destination_path(destination), class: 'left' %>
        </div>
      </div> 
	  <% end %>
	<% end %>
</div>