<% if @destinations.any? %>
  <h4 class="center">Destinations</h4>
  <h5><%= @destination_records.count %> <%=  "destination".pluralize(@destination_records.count) %> found</h5>
  
  <% @destinations.each do |destination| %>
    <p><%=link_to destination.name, destination_path(destination) %></p>
  <% end %>

<% end %>
