<div style="clear: both;">
<footer class="page-footer" style="width: 100%;">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6 centre-align">
        <h5 class="white-text">Company</h5>
        <ul>
          <li><a class="white-text" href="/about">About Us</a></li>
          <li><a class="white-text" href="/help">Help</a></li>
          <li><a class="white-text" href="http://www.trekhub.in/blog/">Blog</a></li>
          <li><a class="white-text" href="/policies">Policies</a></li>
          <li><a class="white-text" href="/terms">Terms And Privacy</a></li>
          <li><a class="white-text" href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col s12 m6 l6 right-align">
        <div class="customer-care">
          <h5 class="orange-text">Customer Care</h5>
          <ul class="footer-customer-block">
            <li class="white-text"><strong> Phone Number: </strong><a class="orange-text text-lighten-3" href="tel:+919611201234"> +91 9611 20 1234</a></li>
            <li class="white-text"><strong> Monday to Saturday: </strong> 07:00 AM to 09:00 PM</li>
            <li><a class="orange-text text-lighten-3" href="mailto:info@trekhub.in" target="_blank">info@trekhub.in</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row center-align">
      <div class="row"><p class="white-text">Connect with us</p></div>
      <a href="https://www.facebook.com/trekhub/" class="footer-icons"><i class="fa fa-facebook"></i></a>
      <a href="https://plus.google.com/+TrekhubInindia" class="footer-icons"><i class="fa fa-google-plus"></i></a>
      <a href="https://twitter.com/trekhubin" class="footer-icons"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/trekhub/" class="footer-icons"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/trekhub" class="footer-icons"><i class="fa fa-linkedin"></i></a>
      <a href="mailto:info@trekhub.in" class="footer-icons"><i class="fa fa-envelope"></i></a>
    </div>
  </div>

  <div class="footer-copyright center">
    <div class="container">
    © TrekHub, 2016 | <a class="brown-text text-lighten-5">All Rights Reserved</a>
    </div>
  </div>
</footer>
</div>