<div class="hide-on-small-only">
  <div class="container">
    <h4>Map</h4>
    <div class="container">
      <div class="center">
        <div style='width: 46rem;'>
            <div id="map" style='width: 46rem; height: 23rem;'></div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD11y3z0GOiKceppGar_RhGNR5XLBhez3M"></script>
<script type="text/javascript" src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });
</script>