<ul id="dropdown1" class="dropdown-content">
  <li><a href="/weekend">Weekend Getaway</a></li>
  <li><a href="/team_outing">Team Outing</a></li>
  <li><a href="/elderly">Elderly Activities</a></li>
  <li><a href="/women_special">Women Special</a></li>
</ul>

<li><a href="/activities">Activities</a></li>
<li><a href="/destinations">Destinations</a></li>
<li><a href="/categories">Categories</a></li>
<li>
  <a class="dropdown-button" href="/handcrafted" data-activates="dropdown1">Hand Crafted</a>
</li>
<% if manager? %>
  <li><a href="/admin/dashboard">Dashboard</a></li>
<% end %>
<% if person_signed_in? %>
  <li><%= link_to 'Log Out', destroy_person_session_path, :method => 'delete' %></li>
  <li class="name-display"><%= link_to "Hello, #{current_person.first_name}", edit_person_registration_path %></li>
<% else %>
  <li><%= link_to 'Sign Up', new_person_registration_path %></li>
  <li><%= link_to 'Sign In', new_person_session_path %></li>
<% end %>
