<div class="row">
  <% @destinations.each do |destination| %>
  <div class="col s12 m6 l4">
    
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag destination.cover.card.url %>
      </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        <%= link_to destination.name, destination_path(destination) %>
        <i class="material-icons right">more_vert</i>
      </span>
      <p>
      <%= link_to 'Do something later', destination_path(destination) %>
      </p>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        <%= destination.description %><i class="material-icons right">close</i>
      </span>
    </div>

    </div>
  </div>
  <% end %>
</div>