/*
 *= require photoswipe
 *= require medium-editor/medium-editor
 *= require medium-editor/themes/flat
 */
 @import 'materialize/components/color';
$primary-color: color('teal', 'darken-3') !default;
$secondary-color: color('orange', 'base') !default;
$link-color: color('blue', 'darken-2') !default;
$bg-color: color('teal', 'lighten-2') !default;
$medium-editor-bgcolor: #57ad68 !important;
@import 'materialize';
@import 'materialize/extras/nouislider';
@import 'font-awesome';

html {
    font-family: Ek Mukta, Roboto, sans-serif;
}

body {
  background-color: #FCFCFC;
}

::selection {
  background: #B2DFDB; 
}

nav.subnav{
  background-color: #009688;
  color: black;
  z-index: 5;
}

nav.ul.a.subnav {
  color: #212121;
}

a.footer-icons {
  color: white;
  padding-right: 1.5rem;
}

.pagination a li.active {
  color: #fff;
  width: 2rem;
}

.push-center {
  padding-left: 15%;
}

.toast-flash {
  border-radius: 0.5rem;
}

.toast-success {
  background-color: #007E33;
}

.toast-error {
  background-color: #CC0000;
}

.toast-alert {
  background-color: #FF8800;
}

.toast-notice {
  background-color: #0099CC;
}

.google {
  color: #DF4930;
  text-color: white;
}

.facebook {
  color: #507CC0;
  text-color: white;
}

.twitter {
  color: #64CCF1 ;
  text-color: white;
}

.flat-button {
  border: 0.1rem solid $primary-color;
  border-radius: 0.3rem;
}

.push-down {
  margin-top: -6.75%;
}

.aheader{
  background-image: url('/headerbg.jpeg');
  background-size:cover;
  background-position: bottom;
  position:relative;
  width: 100%;
  z-index:1;
  margin-top: -1rem;
}

.collection_check_boxes{
  padding-right: 5rem;
}

.editable{
  border: 0.1rem solid $primary-color;
}

.modal.bottom-sheet{
  max-height: 85%;
}

.big-chip{
  @extend .chip;
  height: 3rem;
  font-size: 1.2rem;
  line-height: 3rem;
}

.div, #map {
  margin: 0;
  padding: 0;
  height: 30rem;
  width: 100%;
}

.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
  padding: 100px;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
  padding: 100px;
}

#autocomplete-items {
  list-style: none;
  // padding: 6px 8px;
  // width: 100%;
  background-color: $bg-color;
  display: block;
  li {
    // padding: 4px 10px;
    a {
      color: white;
      font-size: 2rem;
      // padding: 3px 0;
      // overflow: hid<den;
      // &:hover {
      //   background-color: white;
      //   color: black;
      // }
    }
  }
  .autocomplete-heading {
    // padding-bottom: 0;
    h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: black;
      border-bottom: 1px solid $primary-color;
      margin: 0;
      // padding-bottom: 6px;
    }
  }
}

.large-searchbar {
  form {
    margin: 1rem 0 2rem;
  }
  input[type="search"] {
    width: 100%;
    font-size: 2rem;
    font-weight: 100;
    border: none;
    outline: none;
    background-color: #fff;
    border-bottom: 0.15rem solid $secondary-color;
  }
}

nav ul a{
    display: block;
    padding-left: 2rem;
}

.main-searchbar {
  .dropdown-menu {
    z-index: 200;
    background-color: $bg-color;
    .dropdown-arrow-top {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      position: relative;
      right: 96px;
      top: -10px;
    }
    .dropdown-arrow-bottom {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      z-index: 200;
      border-bottom: 11px solid rgba(0, 0, 0, 0.11);
      position: relative;
      right: 94px;
      top: -11px;
    }
  }
}

.display-next{
  display: block;
  position: static;
  height: 5rem;
}

.min-marg{
  margin: -2rem 0;
  height: 2rem;
}