<div class="nested-fields">
  <div class="row">
    <div class='file-field input-field'>
      <div class='input-field col s12 m6 l6'><br>
        <div class='btn teal'>
          <span>Gallery Image</span>
          <%= f.file_field :image, type: :file %>
        </div>
        <div class='file-path-wrapper'>
          <input class='file-path validate' type='text'>
        </div>
      </div>
    </div>
    <div class='input-field col s12 m5 l5'><br>
      <%= f.input :alt_text, label: 'Alt Text' %>
    </div>
    <div class='col s12 m1 l1'><br><br>
      <%= link_to_remove_association(f) do %>
        <div class='btn-floating btn-large waves-effect waves-light teal'><i class="material-icons">remove_circle</i></div>
      <% end %>
    </div>
  </div>
</div>